body
{
    background: #000000;
}

body a
{
    color: #FFD100;
    text-decoration: underline;
}

body a:hover
{
    text-decoration: none;
}

body p
{
    line-height: 20px;
    margin: 10px 0px 10px 0px;
}

#t_wrapper
{
    width: 957px;
    margin: 0px auto 40px auto;
    line-height: 1.4em;
    color: #ffffff;
    font-family: Arial;
}

.normal
{
    font-weight: normal;
}

.italic
{
    font-style: italic;
}

.quest_text
{
    font-size: 14px;
    line-height: 1.4em;
    color: #CCCCCC;
}

#content-left
{
    min-height: 250px;
    height: auto;
}

#content-left h2
{
    margin: 1.5em 0 0.5em;
    font-size: 16px;
}

#content-left ul
{
    list-style-type: square;
    padding-left: 24px;
    margin: 1em 0;
    font-size: 14px;
}

#content-left li
{
    line-height: 1.5em;
    list-style-type: outside;
}

.tag
{
    border-radius: 5px 5px 5px 5px;
    font-weight: bold;
    padding: 3px 6px;
    font-family: Arial;
    font-size: 12px;
}

.tag0
{
    background-color: gray;
    color: white;
}

.tag2
{
    background-color: red;
    color: white;
}

.tag4
{
    background-color: blue;
    color: white;
}

.tag8
{
    background-color: LimeGreen;
    color: white;
}

.tag_nmt
{
    background-color: LightSlateGray;
    color: white;
}

#instructions section
{
    margin: 25px 0px;
}

#reports
{
    border-collapse: collapse;
    font-family: Arial, Verdana;
    font-size: 12px;
    width: 100%;
    margin: 15px 0px 0px 0px;
}

#reports td, th
{
    text-align: left;
}

#reports th
{
    border:1px solid #252525;
    color: #ffffff;
    font-weight: 700;
    font-size: 13px;
    background-color: #171614;
    padding: 8px 6px;
}

#reports a
{
    color: #FFD100;
    text-decoration: none;
    width: 100%;
    display: inline-block;
}

#reports a:hover
{
    text-decoration: underline;
}

#reports td
{
    color: #ffffff;
    font-weight: 700;
    padding: 8px 6px;
    border:1px solid #252525;
}

#entries
{
	border-collapse: collapse;
	font-family: Arial, Verdana;
	font-size: 12px;
    width: 100%;
    margin: 15px 0px 15px 0px;
}

#guids
{
    border-collapse: collapse;
    font-family: Arial, Verdana;
    font-size: 12px;
    width: 100%;
}

table
{
    background-color: #141414;
    color: #DDDDDD;
    width: 100%;
}

table td, table th
{
	text-align: left;
}

table th
{
    border-bottom: 1px solid #202020;
    font-size: 14px;
    font-weight: bold;
    padding: 0;
}

table th div
{
    border-color: #707070 #303030 #303030 #707070;
    border-style: solid;
    border-width: 1px;
    position: relative;
}

table th span
{
    background-color: #585858;
    color: white;
    display: block;
    padding: 2px 6px;
    text-decoration: none;
}

table a
{
    color: #FFD100;
    text-decoration: none;
    display: inline-block;
    line-height: 25px;
}

table a:hover
{
    text-decoration: underline;
}

table td
{
    font-weight: normal;
    font-size: 13px;
    padding: 4px 6px;
    border: 1px solid #404040;
}

.status-td
{
    white-space: nowrap;
}

#t_wrapper h1
{
    color: #ffffff;
    font-size: 19px;
    font-family: Arial, Verdana;
    font-weight: normal;
    border-bottom: 1px solid #505050;
    padding: 0 0 5px;
    margin: 0 0 13px;
    line-height: 1.1em;
}

.paginate_pages
{
    height: 20px;
    width: auto;
    font-size: 12px;
    font-family: Arial, Verdana;
    margin-top: 20px;
}

.numbers, .previous, .next
{
    float: left;
}

.numbers a
{
    padding: 4px 8px;
    border: 1px solid #747474;
    margin-left: 5px;
    margin-right: 5px;
    color: #FFD100;
    text-decoration: none;
    background-color: #393939;
}

.previous, .next
{
    margin-top: -3px;
    padding: 3px 13px;
    border: 1px solid #747474;
    text-align: center;
    color: #FFD100;
    text-decoration: none;
    background-color: #393939;
}

.next
{
    margin-left: 10px;
}

.previous
{
    margin-right: 10px;
}

#pag_options
{
    width: auto;
    height: 40px;
    font-family: Arial, Verdana;
    color: #ffffff;
    font-size: 12px;
    margin-top: 5px;
}

#pag_right
{
    float: right;
    line-height: 40px;
}

#pag_left
{
    float: left;
    line-height: 40px;
}

#jump_menu
{
    float: right;
    margin-right: 10px;
}

#items_per_page
{
    float: right;
}

#related
{
    font-size: 12px;
}

#tabs-container
{
    margin-top: 20px;
}

#tabs-container ul
{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

#tabs-container li
{
    float: left;
    height: 30px;
    margin: 0px 3px 0px 0px;
}

#tabs-container a
{
    border-bottom: 1px solid #282828;
    display: block;
    float: left;
    font-size: 13px;
    height: 29px;
    position: relative;
    text-decoration: none;
    white-space: nowrap;
    background: #303030;
    line-height: 29px;
    padding: 0px 8px 0px 8px;
    color: #FFD100;
    -webkit-border-top-left-radius: 4px;
    -webkit-border-top-right-radius: 4px;
    -moz-border-radius-topleft: 4px;
    -moz-border-radius-topright: 4px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

#tabs-container a.selected
{
    font-weight: 700;
    color: #ffffff;
    background: #404040;
    border-bottom: 1px solid #404040;
}

#tabs-content
{
    border: 2px solid #404040;
    background: #0D0808;
    padding: 5px 8px 5px 8px;
    clear: both;
}

#left-content
{
    width: 430px;
    float: left;
    color: #ffffff;
    line-height: 18px;
}

#right-content
{
    margin: 10px 0px 10px 0px;
    padding: 15px;
    width: auto;
    max-width: 440px;
    float: right;
    border-radius: 3px;
    background: #292929;
    line-height: 18px;
}

#comment
{
    margin: 10px 0px 10px 0px;
    position: relative;
}

#comment header
{
    height: 34px;
    line-height: 34px;
    background: #242424;
    padding: 0px 8px 0px 8px;
}

.admin_panel_fixed
{
    float: right;
    height: 14px;
}

.admin_panel_delete
{
    float: right;
    padding-top: 10px;
    margin: 0px;
}

.fixed_db_rev
{
    height: 22px;
    margin-top: 6px;
    padding: 1px; 
}

.delete_report
{
    width: 14px !important;
    height: 14px;
    background: url(../img/red_X.png) no-repeat;
    border: 0px;
    cursor: pointer;
    float: left;
    margin-right: 8px;
}

.fixed_report
{
    width: 14px !important;
    height: 14px;
    background: url(../img/green_check.png) no-repeat;
    border: 0px;
    cursor: pointer;
    margin-right: 8px;
    margin-left: 8px;
}

.h-comment-left, .f-comment-left
{
    float: left;
}

.h-comment-right, .f-comment-right
{
    float: right;
}

.h-comment-admin
{
    border-width: 1px 0px 0px 0px;
    border-color: #171614;
    border-style: solid;
    height: 34px;
    line-height: 34px;
    background: #242424;
    padding: 0px 8px 0px 8px;
}

.h-comment
{
    border-width: 1px 0px 1px 0px;
    border-color: #171614;
    border-style: solid;
    height: 34px;
    line-height: 34px;
    background: #242424;
    padding: 0px 8px 0px 8px;
}

#comment section
{
    min-height: 70px;
    height: auto;
    background: #292929;
    padding: 6px 8px 6px 8px;
    word-wrap: break-word;
}

.comment
{
    margin-bottom: 30px;
}

.reported_by
{
    position: absolute;
    bottom: 8px;
}

#instructions p
{
    font-size: 12px;
    margin: 7px 0px 0px 0px;
    color: #ffffff;
}

#instructions li
{
    background: url(../img/redbullet.png) no-repeat scroll left 15px transparent;
    list-style: none outside none;
    padding: 7px 0px;
    font-size: 13px;
    padding-left: 10px;
    color: #ffffff;
}

#instructions h2
{
    font-size: 15px;
    color: #ffffff;
    font-weight: 700;
    margin-bottom: 13px;
}

#instructions h4
{
    font-size: 12px;
    font-weight: 700;
    margin: 18px 0px 0px 0px;
}

.status_white
{
    color: #ffffff;
}

.bold
{
    font-weight: 700;
}

#comment-h2
{
    margin: 20px 0px 0px 0px;
    font-size: 15px;
    font-weight: 700;
    padding-bottom: 8px;
    border-bottom: 1px solid #505050;
}

#comment-form textarea
{
    width: 444px;
    max-width: 444px;
    min-height: 130px;
    margin: 10px 0px 0px 0px;
    font-family: arial, sans-serif, times new roman;
    padding: 12px 8px 12px 8px;
}

#read_ins
{
    margin: 15px 0px;
}

#checkbox
{
    margin: 20px 0px 0px 0px;
}

#submit-comment
{
    margin: 20px 0px 10px 0px;
}

#content-wrapper
{
    margin-top: 0px;
    padding: 10px;
    color: #ffffff;
    font-family: Arial, Verdana;
    border: 1px solid #404040;
    border-radius: 2px 2px 2px 2px;
    background: #242424;
}

#content-wrapper
{
    color: #CCCCCC;
    line-height: 1.4em;
    font-size: 13px;
}

#content-wrapper h3
{
    font-size: 18px;
    font-weight: normal;
    margin: 0px 0px 10px 0px;
}

#main-content h2
{
    margin: 1.5em 0 0.5em;
    font-size: 15px;
    font-weight: 700;
    color: #ffffff;
    padding: 0;
}

#gen-info-wrapper
{
    background-color: #292929;
    padding: 15px;
    border-radius: 3px;
    display: inline-block;
}

#report_form
{
    margin: 20px 0px 0px 0px;
}

#report_form p
{
    margin: 15px 0px 5px 0px;
    font-size: 13px;
    font-weight: 700;
}

#report_form textarea
{
    min-width: 400px;
    max-width: 400px;
    min-height: 150px;
    font-family: Arial, Verdana;
    font-size: 13px;
    padding: 5px;
}

#comment footer p
{
    font-size: 12px;
    margin: 0px;
}

.targetDiv ul
{
    margin: 0px;
}

#instructions ul
{
    margin: 0px;
}

#list_links li
{
    padding: 7px 0px;
    font-size: 13px;
    margin: 0px;
}

#list_links li
{
    background: url(../img/redbullet.png) no-repeat scroll left 12px transparent;
    list-style: none outside none;
    padding-left: 10px;
}

#list_links a
{
    text-decoration: none;
    color: #FFD100;
}

#list_links a:hover
{
    text-decoration: underline;
}

.clear
{
    clear: both;
}

#related
{
    font-family: Arial, Verdana;
}

.moneygold
{
    background: url(../img/wow/money-gold.gif) 100% 50% no-repeat transparent;
    padding-right: 15px;
}

.moneysilver
{
    background: url(../img/wow/money-silver.gif) 100% 50% no-repeat transparent;
    padding-right: 15px;
}

.moneycopper
{
    background: url(../img/wow/money-copper.gif) 100% 50% no-repeat transparent;
    padding-right: 15px;
}

.moneygold, .moneysilver, .moneycopper
{
    font-size: 14px;
    color: white;
}

#error_box
{
    padding: 5px 8px 5px 8px;
    margin: 0px 0px 20px 0px;
    background: #fbb0b0;
    border: 1px solid #ef4c4c;
    font-family: Verdana, Arial, Times New Roman;
    font-size: 11px;
    display: inline-block;
    height: auto;
    min-height: 20px;
    line-height: 20px;
    color: #333333;
}

#success_box
{
    padding: 5px 8px 5px 8px;
    margin: 0px 0px 20px 0px;
    background: #c9fbb0;
    border: 1px solid #5bef4c;
    font-family: Verdana, Arial, Times New Roman;
    font-size: 11px;
    display: inline-block;
    height: auto;
    min-height: 20px;
    line-height: 20px;
    color: #333333;
}

.db_rev_comment
{
    float: left;

}

#no_reports
{
    margin: 10px 0px;
    font-size: 14px;
    color: #ffffff;
}

.entry_icon
{
    float: left;
    margin-right: 6px;
}

#quickfacts
{
    width: auto;
    color: #ffffff;
    padding: 0px 16px 10px 12px;
    border-radius: 6px;
    float: right;
    border: 1px solid #404040;
    background: #141414;
    z-index: 2;
}

#quickfacts ul
{
    margin: 0px;
}

#quickfacts h2
{
    font-size: 15px;
    color: #ffffff;
    font-weight: 700;
    text-align: center;
    margin: 6px 0px 2px 0px;
}

#quickfacts li
{
    background: url(../img/redbullet.png) left 9px no-repeat;
    padding-left: 10px;
    margin-bottom: 3px;
    font-size: 13px;
    line-height: 21px;
    list-style-type: none;
}

#quickfacts a
{
    color: #FFD100;
    text-decoration: underline;
}

#quickfacts a:hover
{
    text-decoration: none;
}

#quickfacts span.r1
{
    color: #FF8040;
}

#quickfacts span.r2
{
    color: #FFFF00;
}

#quickfacts span.r3
{
    color: #40BF40;
}

#quickfacts span.r4
{
    color: #808080;
}

.icon-horde
{
    background: url("../img/horde.gif") 0% 50% no-repeat transparent;
    padding-left: 18px;
}

.icon-alliance
{
    background: url("../img/alliance.gif") 0% 50% no-repeat transparent;
    padding-left: 12px;
}

.icontiny
{
    background: 0% 50% no-repeat transparent;
    padding-left: 18px !important;
}

#pag_right select.paginate
{
    margin-bottom: 0px;
    width: auto;
    height: 24px;
    line-height: 24px;
    padding: 2px;
}

#search_form
{
    float: right;
    margin-top: 4px;
}

#search_form select
{
    width: auto;
    height: 24px;
    line-height: 24px;
    padding: 2px;
    border: 2px solid #dfdfdf;
}

#search_form input[type="text"]
{
    width: 220px;
    height: 24px;
    line-height: 24px;
    padding: 2px;
    border: 2px solid #dfdfdf;
}

#search_form input[type="submit"]
{
    margin-top: -4px;
    width: 80px;
    height: 24px;
    line-height: 24px;
    border: 2px solid #dfdfdf;
    background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(top,  #ffffff 0%, #e5e5e5 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#e5e5e5)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #ffffff 0%,#e5e5e5 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #ffffff 0%,#e5e5e5 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #ffffff 0%,#e5e5e5 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #ffffff 0%,#e5e5e5 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-9 */

}

#search_form input[type="submit"]:hover
{
    cursor: pointer;
}

#header
{
    width: 100%;
    height: auto;
}

.menu
{
    border: 1px solid #404040;
    border-radius: 2px 2px 2px 2px;
    color: #FFFFFF;
    font-family: Arial;
    margin-top: 0;
    background: #242424;
}

.menu li
{
    float: left;
    list-style: none outside none;
}

.menu a
{
    padding: 10px 10px 10px 10px;
    color: #FFD100;
    font-size: 14px;
    text-decoration: none;
    display: block;
}

.menu a:hover
{
    background-color: #404040;
}

.menu ul
{

}

.global-menu
{
    margin: 20px 0px;
}

.menu-left
{
    float: left;
}

.menu-right
{
    float: right;
}

.menu-bold
{
    font-weight: 700;
}

.quest_start
{
    background-image: url("../img/quest_start.gif");
}

.quest_end
{
    background-image: url("../img/quest_end.gif");
}

#precontents
{
    background: none repeat scroll 0 0 #141414;
    border-left: 1px solid #101010;
    border-right: 1px solid #101010;
    padding: 10px;
}

.breadcrumbs
{
    font-size: 15px;
    padding: 5px 0 5px 0px;
    color: #CCCCCC;
    float: left;
}

span.breadcrumb-arrow
{
    background: url("../img/arrow-right.gif") no-repeat scroll right center transparent;
    padding-right: 17px;
}

.tb-quest-prog-pct
{
    width: 30px;
}

/* LOGIN FORM */

#login_form input, #signup_form input
{
    margin: 0px 0px 20px 0px;
}

#login_form input[type="text"], input[type="password"], #signup_form input[type="text"], input[type="password"]
{
    width: 220px;
    height: 24px;
    line-height: 24px;
    padding: 2px;
    border: 2px solid #dfdfdf;
}

#login_form p, #signup_form p
{
    font-weight: 700;
    font-size: 14px;
}

#login_submit, #signup_submit
{
    display: block;
}

.online
{
    color: LimeGreen;
}

.offline
{
    color: red;
}

/* Progress Bar - props to css-tricks.com */

.meter { 
    height: 20px;  /* Can be anything */
    position: relative;
    /*
    background: #555;
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
    border-radius: 25px;
    padding: 10px;
    -webkit-box-shadow: inset 0 -1px 1px rgba(255,255,255,0.3);
    -moz-box-shadow   : inset 0 -1px 1px rgba(255,255,255,0.3);
    box-shadow        : inset 0 -1px 1px rgba(255,255,255,0.3);
    */
}

.meter > span {
    display: block;
    height: 100%;
    /*   -webkit-border-top-right-radius: 8px;
    -webkit-border-bottom-right-radius: 8px;
           -moz-border-radius-topright: 8px;
        -moz-border-radius-bottomright: 8px;
               border-top-right-radius: 8px;
            border-bottom-right-radius: 8px;
        -webkit-border-top-left-radius: 20px;
     -webkit-border-bottom-left-radius: 20px;
            -moz-border-radius-topleft: 20px;
         -moz-border-radius-bottomleft: 20px;
                border-top-left-radius: 20px;
             border-bottom-left-radius: 20px;*/
    background-color: rgb(43,194,83);
    background-image: -webkit-gradient(
      linear,
      left bottom,
      left top,
      color-stop(0, rgb(43,194,83)),
      color-stop(1, rgb(84,240,84))
     );
    background-image: -webkit-linear-gradient(
      center bottom,
      rgb(43,194,83) 37%,
      rgb(84,240,84) 69%
     );
    background-image: -moz-linear-gradient(
      center bottom,
      rgb(43,194,83) 37%,
      rgb(84,240,84) 69%
     );
    background-image: -ms-linear-gradient(
      center bottom,
      rgb(43,194,83) 37%,
      rgb(84,240,84) 69%
     );
    background-image: -o-linear-gradient(
      center bottom,
      rgb(43,194,83) 37%,
      rgb(84,240,84) 69%
     );
    -webkit-box-shadow: 
      inset 0 2px 9px  rgba(255,255,255,0.3),
      inset 0 -2px 6px rgba(0,0,0,0.4);
    -moz-box-shadow: 
      inset 0 2px 9px  rgba(255,255,255,0.3),
      inset 0 -2px 6px rgba(0,0,0,0.4);
    position: relative;
    overflow: hidden;
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}